* {
  box-sizing: border-box;
}

h2 {
  text-transform: uppercase;
  padding-left: 2.5rem;
  padding-right: 1.5rem;
}

/* header finish */

/* MODAL START */

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1000; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.5); /* Black w/ opacity */
}

.modal-content {
  background-color: #fff;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  max-width: 500px; /* Maximum width */
  text-align: center;
  position: relative;
  z-index: 1001;
}

.close-btn {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-btn:hover,
.close-btn:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.cta-button {
  background-color: #db9423;
  color: white;
  padding: 15px 30px;
  text-decoration: none;
  font-size: 1em;
  border-radius: 5px;
  transition: background-color 0.3s ease; /* Smooth transition for hover effect */
  display: inline-block;
  margin-top: 20px;
}

.cta-button:hover {
  background-color: #db8023;
}

/* MODAL END*/

/* Content Header START  */
.box-header {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  padding: 30px 0;
  background-color: black;
  color: white;
}

.box-header h1 {
  font-size: 1.5rem;
}
/* Content Header FINISH  */

/* ICONS WITH TEXT START */

#key-features {
  background-color: white;
  padding: 16px;
  font-style: italic;
  margin: 10px 0;
}

.key-feature-list {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.key-feature {
  display: inline-block;
  width: 30%;
  vertical-align: top;
  padding: 25px;
}

.key-feature-image {
  width: 120px;
  height: 110px;
}

.key-feature-description {
  color: black;
  text-align: center;
}

/* ICONS WITH TEXT END */

/* WHY WE SO SPECIAL - START */
.special {
  display: flex;
  background-color: black;
  color: white;
  padding: 30px 0;
}

.special-h2 {
  padding: 0
}

.left {
  margin-left: 100px;
}

.bmw {
  border-radius: 40px;
}

.right {
  flex-direction: column;
  margin: auto 100px;
  text-align: center;
}

/* WHY WE SO SPECIAL - END */

/* why to choose headlights forever start */
.welcome {
  padding: 1.25rem 0;
}

.welcome h1,
.welcome p {
  text-align: center;
}

.welcome strong {
  display: block;
  font-weight: bold;
  background-image: url("../photos/tick.png"); /* Replace with the correct path to your icon image */
  background-repeat: no-repeat;
  background-size: 16px 16px; /* Adjust the size as needed */
  padding-left: 1.25rem; /* Add space to the left of the text for the icon */
  display: block; /* Make the bold text a block-level element */
  font-weight: bold;
}

.welcome li {
  margin-bottom: 10px; /* Add some space between list items */
  list-style-type: none;
}



/* why to choose headlights forever finish */

/* 6 ADVENTAGES Start....................................................... */
.adventages-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 0;
  margin-bottom: 0;
  background-color: black;
  color: white;
}

.benefits-container {
  display: flex;
  flex-wrap: wrap;
  background-color: black;
  justify-content: space-between;
  padding: 2px;
}

.benefits {
  flex: 1;
  min-width: calc(
    33.33% - 10px
  ); /* this will allow to wrap to the next line symetrically*/
  margin: 5px;
  padding: 20px;
  background-color: #db9423;
  color: #fff;
  text-align: center;
}

.benefits h4 {
  color: white;
  font-size: 25px;
  text-align: center;
}

.benefits p {
  text-align: center;
}

/* 6 ADVENTAGES Finish....................................................... */

/* DIY start*/

.diy-1 {
  display: flex;
  background-color: black;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 30px 0;
}

.diy {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: black;
  color: white;
  padding: 0 40px;
}

.diy-item img {
  width: 100%;
  height: 50%;
}

.diy-item {
  flex: 1;
  flex-basis: calc(10% - 10px);
  margin: 5px;
  padding: 20px;
}

.maintaining {
  padding-bottom: 50px;
}

/* DIY Finish*/

/* FAQ collapsible START */
.faq-h2 {
background-color: black;
color: white;
padding-bottom: 20px;
margin-bottom: 1px;
padding-top: 20px;
}

.collapsibles {
  background-color: black;
  color: white;
  cursor: pointer;
  padding: 30px 30px 30px 40px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 0.9rem;
}

.active,
.collapsibles:hover {
  background-color: #db9423;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: white;
  color: black;
}

/* FAQ collapsible END*/


/*TESTIMONIALS START */

.testimonials-h2 {
  padding-bottom: 20px;
  padding-top: 40px;
  font-size: clamp(20px, 2vw, 24px);
  border-bottom: solid 2px black;
}

.testimonials {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 3px;
}

.slide-container {
  max-width: 1120px;
  width: 100%;
  background-color: #fff;
  padding: 40px 0;
}

.slide-content {
  margin: 0 40px;
  overflow: hidden;
  border-radius: 25px;
}

.card {
  border-radius: 25px;
  background-color: black;
}

.image-content,
.card-content {
display: flex;
flex-direction: column;
align-items: center;
padding: 10px 14px;
}


.image-content {
  position: relative;
  row-gap: 5px;
  padding: 25px 0;
}

.overlay-testimonials {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #db9423;
  border-radius: 25px 25px 0 25px;
}

.overlay-testimonials::before,
.overlay-testimonials::after{
  content: "";
position: absolute;
right: 0;
bottom: -40px;
height: 40px;
width: 40px;
background-color: #db9423;
}

.overlay-testimonials::after {
  border-radius: 0 25px 0 0;
  background-color: black;
}

.card-image {
  position: relative;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background: black;
  padding: 3px;
}

.card-image .card-img {
height: 100%;
width: 100%;
object-fit: cover;
border-radius: 50%;
border: 4px solid #db9423 ;
}

.name {
  font-size: 18px;
  font-weight: 500;
  color: #fff;
}

.stars {
  color: #FFD700; /* Gold color for stars */
  margin-bottom: 10px;
}

.stars i {
  margin-right: 2px;
}

.description {
  font-size: 14px;
  color: #fff;
  text-align: center;
}

.button-testimonials {
  border: none;
  font-size: 16px;
  color: #fff;
  padding: 8px;
background-color: #db9423;
border-radius: 6px;
margin: 14px;
cursor: pointer;
transition: all 0.3s ease ;
}

.button-testimonials:hover {
  background-color: #db8023;
}

.swiper-navBtn {
  color: #db9423;
}

.swiper-navBtn:hover {
  color: #db8023;
}

.swiper-navBtn::before,
.swiper-navBtn::after {
  font-size: 40px;
}

.swiper-button-next {
  right: 0;
}

.swiper-button-prev {
  left: 0;
}

.swiper-pagination-bullet {
  background-color: #db9423;
opacity: 1;
}

.swiper-pagination-bullet.active {
  background-color: #db8023;
}

@media screen and (max-width: 768px) {
.slide-content {
  margin: 0 10px;
}

  .swiper-navBtn {
    display: none;
  }
}
/* TESTIMONIALS FINISHS */

/*  - - - - - - - MEDIA QUERIES .............................................................................................................*/

/* Media 1355 */
@media (max-width: 1355px) {
  .benefits {
    min-width: calc(50% - 10px)
  }
  .areas {
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: auto;
  }

  .areas li {
    list-style: none;
    margin: 10px auto;
  }

  .areas ul {
    padding-left: 0;
    order: 1;
  }
  .areas h2 {
    margin: 20px auto;
  }

  .areas img {
    max-width: 60%;
    order: 2;
  }
}
/* Media 1355 */

/* Media 1320 */

@media (max-width: 1320px) {
  .diy-item {
    flex-basis: calc(50% - 10px);
  }
}

@media (max-width: 950px) {
  .diy-item {
    flex-basis: calc(100% - 10px);
    padding: 0 20px;
    margin: 0;
  }
}
/* Media 1320 */

/* Media 1150 */

@media (max-width: 1149px) {
  .special {
    display: flex;
    flex-direction: column-reverse;
  }

  .left {
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

/* Media 1150 */

/* Media 900px */

@media (max-width: 900px) {
  .benefits {
    min-width: 50%;
  }
  .box-header h1 {
    font-size: 20px;
    white-space: normal;
    padding: 0 20px;
  }

  .diy-1 h2 {
    text-align: center;
  }
}

/* Media 900px end */

/* Media 650px */

@media (max-width: 650px) {
  .key-feature {
    display: block; /* Change to block layout */
    width: 100%; /* Full width for each item */
    margin-bottom: 20px; /* Add some spacing between items */
    padding: 0 16px; /* Add horizontal padding for spacing */
  }

  .welcome ul {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }

  .welcome li {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .devider-2 {
    display: inline-block;
   
    min-width: 230px;
  }

  .key-feature-image {
    width: 120px; /* Maintain the original image width */
    height: auto; /* Maintain the aspect ratio */
  }

  .key-feature-list li:nth-child(2) .key-feature-image {
    margin-right: 25px;
  }

  .key-feature-description {
    text-align: center; /* Center the text horizontally */
  }

  .right {

    margin: 0 50px;

}
}

/* Media 650px */

/* Media 500px */

@media (max-width: 500px) {
  .bmw {
     width: 80%;
  }
  .adventages-container {
    text-align: center;
  }
  .button-top {
    text-align: center;
    margin: 0;
  }
}
/* Media 500px */
